<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Compra Finalizada</title>
</head>
<body>
<h1>Compra finalizada</h1>

<p>Has comprado los siguientes productos:</p>

<table border="1">
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio unidad </th>
        <th>total </th>
    </tr>

    <tr th:each="p : ${compra}">
        <td th:text="${p.key}"></td>
        <td th:text="${p.value}"></td>
        <td th:text="${precios[p.key]}"></td>
        <td th:text="${p.value * precios[p.key]}"></td>
    </tr>
</table>

<h2>Total: <span th:text="${total}"></span> €</h2>

<form action="/carrito" method="get">
    <button type="submit">Volver al carrito</button>
</form>

</body>
</html>
